name: Update CPAN modules by schedule.

env:
  perl-version: "5.40"
  cpanfile: cpanfile

permissions:
  contents: write
  pull-requests: write

on:
  schedule:
    - cron: "45 16 * * 5"
  workflow_dispatch:
    
jobs:
  matrix:
    name: Setup update matrix
    outputs:
      modules: ${{ steps.matrix.outputs.modules }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: shogo82148/actions-setup-perl@fa3bdcb0144a50651e317f30949bb4491e74a6e4 # v1.37.0
        with:
          perl-version: ${{ env.perl-version }}
          enable-modules-cache: true
          install-modules-with: cpm
          install-modules-args: App::UpdateCPANfile
      - name: Setup matrix by update-cpanfile
        id: matrix
        run: |
          {
            echo -n "modules="
            update-cpanfile update ${{ env.cpanfile }} --shuffle --output=json
          } >> $GITHUB_OUTPUT 

  make-pull-request:
    if: >-
      needs.matrix.outputs.modules != ''
      && needs.matrix.outputs.modules != '[]'
    name: Make matrix pull requests
    runs-on: ubuntu-latest
    needs:
      - matrix
    strategy:
      matrix:
        module: ${{ fromJson(needs.matrix.outputs.modules) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/composite/update-cpan-module
        with:
          perl-version: ${{ env.perl-version }}
          module: ${{ matrix.module.package_name }}
